.hh{
    background: url('') center center/cover fixed;
    margin: 0;
    padding: 0;
   font-family: 'Arial', sans-serif;
  overflow: hidden;
}
.hi{
    height: 60vh;
    
}

.table1
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 2%;
    
}

.table2
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 2%;
    
}


.table3
{
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap: 30px;
    padding: 2%;
    
}

.bigdiv1
{
    display: flex;
    gap:25px;
    margin-left:10px;
}

.end
{
    background-image: url('https://assets.barco.com/transform/b872d067-3d36-4b32-9640-6775cfe8db60/Huddle_Space-9?io=transform:fit,width:1920');
    background-size: cover;
    height:600px;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    text-align: center;
}